<div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- right side div -->
                <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="./Image/img 6.jpg" alt="Error">
                    </figure>
                </div>
                 
                <!-- left side div -->
                <div class="col-md-6 col-12 main_header_left ">
                    <p>Welcome to Weather App</p>
                    <h1>My self <span>Ved Prakash</span> from <span>Ambedkar Nagar</span></h1>
                    <a href="https://vedprakash182001.github.io/profile/"><button>Know More</button></a>
                </div>

            </div>
        </div>
    </div>
</div>